body { background-color: #393939;
    color: white;
    font-size: small;
}

.campo {color: lightskyblue;}
.campo2 {color: red;}
.campoN {color: yellow;
    text-decoration: none;
}

.columnas {
    column-count: 6;
}